.Main {
    display: flex;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Left {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.Right {
    display: flex;
    width: 80%;
    box-sizing: border-box;
    padding-top: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

@media screen and (min-width: 1300px) {
    .Main {
        justify-content: space-between;
        align-items: flex-start;
    }
    .Left {
        width: 48%;
    }
    .Right {
        width: 48%;
    }
}

.Center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 20px 0;
    align-items: flex-start;
}

.State {
    color: #ff073fde;
}

.Update {
    color: #28a745f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Map {
    padding: 15px;
    align-items: center;
    display: flex;
}