.Row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* overflow-x: inherit; */
}

.Col {
    display: flex;
    justify-content: flex-start;
    padding: 5px 5px;
    font-size: 11px;
    color: black;
    min-width: 20%;
    max-width: 20%;
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 450px) {
    .Col {
        font-size: 16px;
    }
}

.Row:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: gray;
    box-shadow: 8px 4px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-weight: bold;
}