.Box {
    width: calc(100% / 4.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
    border-radius: 5px;
}

.h2 {
    text-transform: capitalize;
}

@media screen and (max-width: 450px) {
    .Box {
        width: calc(100% / 2.2);
        margin: 0 10px 10px 0;
    }
}